
@model IEnumerable<MailChimp.Net.Models.Feedback>
@{
    ViewBag.Title = $"Feedback for Campaign ID {ViewBag.CampaignId}";
}

<h2>Feedback for Campaign ID @ViewBag.CampaignId</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Created At</th>
            <th>CreatedBy</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model)
        {
        <tr>
            <td>@feedback.FeedbackId</td>
            <td>@feedback.CreatedAt</td>
            <td>@feedback.CreatedBy</td>
            <td>@feedback.Message</td>
        </tr>
        }
    </tbody>
</table>


