@model AdvanceCRM.Common.Mailbox.Classes.EmailDetails
@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Compose";
}

@section Head {

    <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
    @*<link rel="stylesheet" href="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />*@
    <link rel="stylesheet" href="~/Scripts/fullcalendar/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/Scripts/fullcalendar/fullcalendar.print.css" media="print" />
    <link rel="stylesheet" href="~/Content/iCheck/flat/blue.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    @*<script src="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>*@
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/jquery.icheck.min.js"></script>
    <script src="~/Scripts/adminlte/demo.js"></script>

}

@section ContentHeader {
    <h1>Mailbox</h1>
    @*<h1>@ViewData["Title"]<small> 13 new messages</small></h1>*@
}

@*$("#deleteupload").uploadFile({url: "upload.php",
    dragDrop: true,
    fileName: "myfile",
    returnType: "json",
    showDelete: true,
    showDownload:true,
    statusBarWidth:600,
    dragdropWidth:600,
    deleteCallback: function (data, pd) {
        for (var i = 0; i < data.length; i++) {
            $.post("delete.php", {op: "delete",name: data[i]},
                function (resp,textStatus, jqXHR) {
                    //Show Message
                    alert("File Deleted");
                });
        }
        pd.statusbar.hide(); //You choice.

    },
    downloadCallback:function(filename,pd)
        {
            location.href="download.php?filename="+filename;
        }
    });*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#fileuploader").uploadFile({
            url: "UploadFile",
            multiple: true,
            dragDrop: true,
            fileName: "file",
            returnType: "json",
            showStatusAfterSuccess: true,
            showAbort: true,
            showDelete: true,
            ////dragDropStr: "Drag Drop",

            ////abortStr: "Abort",

            ///cancelStr: "Cancel",

            ////doneStr: "Fail",

            onSuccess: function (files, data, xhr, pd) {
                //alert("Url" + data.url + "AttachedFiles" + $('#AttachedFiles').val());
                //files: list of files
                //data: response from server
                //xhr : jquer xhr object
                $('#AttachedFiles').val($('#AttachedFiles').val() + ',' + data.url);
            },
            deleteCallback: function (data, pd) {
                //for (var i = 0; i < data.length; i++) {
                $.post("DeleteFile", { filepath: data.url },
                    function (resp, textStatus, jqXHR) {
                        // alert(textStatus + "" + data[i]);
                        //Show Message
                        alert("File Deleted");
                    });
                //}
                pd.statusbar.hide(); //You choice.
            },
            onError: function (files, status, errMsg, pd) {
                alert(errMsg);
                location.reload();
            }

        });

    });

    function checkvalue() {
        var mystring = document.getElementById('ToAddress').value;
        //alert("mystring" + mystring);
        if (!mystring.match(/\S/)) {
            //alert('Please specify atleast one receipient');
            toastr.error("<br/><button type='button' id='ConfirmYes' class='btn clear'>OK</button>", 'Please enter atleast one Receipent?',
                {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-center",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "3000",
                    "timeOut": 0,
                    "extendedTimeOut": 0,
                    "tapToDismiss": false,
                    "allowHtml": true,
                    onShown: function (toast) {
                        $("#ConfirmYes").click(function () {
                            location.reload();
                        });
                    }
                });
            return false;
        } else {
            //alert("correct input");
            return true;
        }
    }
    function ShowDivCC() {
        $("#DivCC").show();
    }
    function ShowDivBCC() {
        $("#DivBCC").show();
    }
</script>

@*Adding coments new test1 aedkasjdh*@

<div class="row">
    @using (Html.BeginForm("Compose", "Mailbox", FormMethod.Post, new { @id = "ComposeId", enctype = "multipart/form-data", onsubmit = "return checkvalue(this);" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.AttachedFiles)
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <div class="col-md-2">
            <a href="~/Mailbox/Inbox" class="btn btn-primary btn-block margin-bottom">Back to Inbox</a>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Folders</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            @*<a href="~/Mailbox/Inbox">*@
                            <a href="~/Mailbox/Inbox?flag=Inbox&Search=&page=1&min=0&max=0&prepageNo=1">
                                <i class="fa fa-inbox"></i> Inbox
                                <span class="label label-primary pull-right">@Model.UnseenCount</span>
                            </a>
                        </li>
                        <li><a href="~/Mailbox/Inbox?flag=Sent"><i class="fa fa-envelope-o"></i> Sent</a></li>
                        <li><a href="~/Mailbox/Inbox?flag=Drafts"><i class="fa fa-file-text-o"></i> Drafts</a></li>
                        <li>
                            <a href="~/Mailbox/Inbox?flag=Junk"><i class="fa fa-filter"></i>Junk</a>
                            @*<a href="~/Mailbox/Inbox?flag=Junk E-Mail"><i class="fa fa-filter"></i>Junk<span class="label label-warning pull-right">65</span></a>*@
                        </li>
                        @*@if(@ViewBag.ServerName == "Gmail")
                            {
                                <li>
                                    <a href="~/Mailbox/Inbox?flag=Starred"><i class="fa fa-filter"></i>Starred</a>
                                </li>
                            }*@
                        <li><a href="~/Mailbox/Inbox?flag=Trash"><i class="fa fa-trash-o"></i>Trash</a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
            @*<div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Labels</h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>*@
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-10">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Compose New Message</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @*<input name="To" id="To" class="form-control" placeholder="To:">*@
                        @Html.TextBoxFor(m => m.ToAddress, new { @class = "form-control", @placeholder = "To:" })
                        <span class="pull-right"><label id="LblCC" onclick="ShowDivCC()">Cc</label> <label id="LblBCC" onclick="ShowDivBCC()">Bcc</label></span>
                        @*@Html.ValidationMessageFor(m => m.ToAddress, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-group" hidden id="DivCC">
                        @*<input name="To" id="To" class="form-control" placeholder="To:">*@
                        @Html.TextBoxFor(m => m.CCAddress, new { @class = "form-control", @placeholder = "Cc:" })
                        @*@Html.TextBoxFor(m => m.ToAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "To:" } })*@
                    </div>
                    <div class="form-group" hidden id="DivBCC">
                        @*<input name="To" id="To" class="form-control" placeholder="To:">*@
                        @Html.TextBoxFor(m => m.BCCAddress, new { @class = "form-control", @placeholder = "Bcc:" })
                        @*@Html.TextBoxFor(m => m.ToAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "To:" } })*@
                    </div>
                    <div class="form-group">
                        <input name="Subject" id="Subject" class="form-control" placeholder="Subject:">
                        @*@Html.TextBoxFor(m => m.Subject, new { htmfileuploaderlAttributes = new { @class = "form-control", @placeholder = "Subject:" } })*@
                    </div>
                    <div class="form-group">
                        <textarea name="TextBody" id="TextBody" class="form-control" style="height: 300px">
						</textarea>
                        <script>
                            CKEDITOR.replace('TextBody');
                        </script>
                    </div>
                    <div class="form-group">
                        <div id="fileuploader">Upload</div>
                    </div>
                    @*<div class="form-group">
                            <div class="btn btn-default btn-file">
                                <i class="fa fa-paperclip"></i> Attachment
                                @Html.TextBoxFor(model => model.File, "", new { @type = "file", @multiple = "multiple" })
                            </div>
                            <p class="help-block">Max. 32MB</p>
                        </div>*@
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-default" value="Save"
                                formaction="Draft" formmethod="post">
                            <i class="fa fa-pencil"></i> Draft
                        </button>
                        @*<button type="submit" formaction="Compose" formmethod="post"class="btn btn-primary" value="Submit" onclick="ValidateReceipent('@Model.ToAddress');"><i class="fa fa-envelope-o"></i>Send</button>*@
                        <button type="submit" formaction="Compose" formmethod="post" class="btn btn-primary" value="Submit"><i class="fa fa-envelope-o"></i>Send</button>
                    </div>
                    <button type="reset" value="Cancel" class="btn btn-default" onclick="location.href ='@Url.Action("Inbox", "Mailbox", new { flag = "Inbox", Search = "" })';"><i class="fa fa-times"></i>Discard</button>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    }
</div>
<!-- /.row -->
@*<script>
        $(function () {
            //Add text editor
            $("#TextBody").wysihtml5();
        });
    </script>*@
