@model AdvanceCRM.Sales.InvoiceReportData
@inject Serenity.ITextLocalizer Localizer

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<style>
    tr {
        page-break-inside: auto;
        page-break-after: auto
    }

    td {
        page-break-inside: auto;
        page-break-after: auto
    }

    #datatable {
        border-collapse: collapse;
        width: 100%;
    }

        #datatable td, #datatable th {
            border: 1px solid #ddd;
            padding: 2px
        }

    header {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #AAAAAA;
    }

    #logo {
        float: left;
        margin-top: 8px;
    }

    #company {
        width: 50%;
        float: right;
        text-align: right;
    }

    #client {
        border-left: 6px solid #0087C3;
    }

    #terms {
        padding-left: 6px;
        border-left: 6px solid #0087C3;
    }
</style>

<script type="text/javascript">

    var a = ['', 'One ', 'Two ', 'Three ', 'Four ', 'Five ', 'Six ', 'Seven ', 'Eight ', 'Nine ', 'Ten ', 'Eleven ', 'Twelve ', 'Thirteen ', 'Fourteen ', 'Fifteen ', 'Sixteen ', 'Seventeen ', 'Eighteen ', 'Nineteen '];
    var b = ['', '', 'Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety'];

    function toWords(num) {
        if ((num = num.toString()).length > 9) return 'overflow';
        n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
        if (!n) return; var str = '';
        str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'Crore ' : '';
        str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'Lakh ' : '';
        str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'Thousand ' : '';
        str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'Hundred ' : '';
        str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + ' ' : '';
        return str.trim();
    }
</script>

<body style="align-self:stretch; align-items:center; align-items:center">
    <table style="width:100%" border="0">
        @if (Model.Company.InvoiceHeaderImage != null)
        {
            <tr style="border:none !important;">
                <td align="center" style="border:none !important; width:100%">&nbsp; <img src="~/upload/@Model.Company.InvoiceHeaderImage" height="@Model.Company.InvoiceHeaderHeight" width="@Model.Company.InvoiceHeaderWidth" />&nbsp;</td>
            </tr>
        }
    </table>
    @if (Model.Company.InvoiceHeaderContent != null)
    {
        @Html.Raw(Model.Company.InvoiceHeaderContent);
    }

    <header class="clearfix">
        @if (Model.Company.CompanyDetails != null && Model.Company.CompanyDetails == true)
        {
            if (Model.Company.Logo != null)
            {
                <div id="logo">
                    <img src="~/upload/@Model.Company.Logo" height="@Model.Company.LogoHeight" width="@Model.Company.LogoWidth" />
                </div>
            }
            <div id="company">
                <h4 class="name">@Model.Company.Name</h4>
                <div>@Model.Company.Address</div>
                <div>@Model.Company.Phone</div>
                <div>GSTIN: @Model.Company.GSTIN</div>
                <div>PAN No: @Model.Company.PANNo</div>
            </div>
        }
    </header>
    <table style="width:100%">
        <tr>
            <td>
                <table style="width:100%; border-collapse:collapse" id="client">
                    <tr>
                        <td valign="top" style="width:10%;">
                            <strong>&nbsp;Name&nbsp;</strong>:&nbsp;
                        </td>
                        <td valign="top">@Model.Invoice.ContactsName</td>
                        @{
                            int detailsRow = 4;
                            detailsRow += (Model.Invoice.ContactPersonName.IsNullOrEmpty() ? 0 : 1);
                            detailsRow += (Model.Invoice.ContactsGstin.IsNullOrEmpty() ? 0 : 1);
                            detailsRow += (Model.Invoice.ContactsPanNo.IsNullOrEmpty() ? 0 : 1);
                        }
                        <td align="left" style="width:33%; padding: 5px; border-left: 2px solid lightgray;" valign="top" rowspan="@detailsRow">
                            @if (Model.Invoice.BillingAddress == true)
                            {
                                <strong>Billing Address:&nbsp;</strong>
                                <span style="white-space: pre-line;">
                                    @Model.Invoice.ContactsAddress

                                </span>
                            }
                            <br />
                            @if (Model.Invoice.OtherAddress == true)
                            {
                                <strong>Shipping Address:&nbsp;</strong>
                                <span style="white-space: pre-line;">
                                    @if (Model.Invoice.ShippingAddress != null)
                                    {
                                        @Model.Invoice.ShippingAddress
                                    }
                                    else
                                    {
                                        @Model.Invoice.ContactsAddress
                                    }

                                </span>
                            }
                        </td>
                        <td align="right" style="width:33%" valign="middle" rowspan="@detailsRow">
                            <h3>Proforma&nbsp;Invoice<br /><small>@Model.Invoice.InvoiceN</small></h3>
                            <strong>Date&nbsp;</strong>:&nbsp;@Model.Invoice.Date?.ToString("dd MMM yyyy")
                            <br />
                            @if (Model.Invoice.QuotationNo != null)
                            {
                                <text>
                                    <strong>Quotation No&nbsp;</strong>:&nbsp;@Model.Invoice.QuotationN
                                    <br />
                                    <strong>Quotation Date&nbsp;</strong>:&nbsp;@Model.Invoice.QuotationDate?.ToString("dd MMM yyyy")
                                    <br />
                                </text>
                            }
                            @if (Model.Invoice.PurchaseOrderNo != null)
                            {
                                <text>
                                    <strong>Purchase Order&nbsp;</strong>:&nbsp;@Model.Invoice.PurchaseOrderNo<br />
                                </text>
                            }
                            @if (Model.Invoice.PurchaseOrderDate != null)
                            {
                                <text>
                                    <strong>Purchase Order Date&nbsp;</strong>:&nbsp;@Model.Invoice.PurchaseOrderDate?.ToString("dd MMM yyyy")
                                </text>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <strong>&nbsp;Phone&nbsp;</strong>:&nbsp;
                        </td>
                        <td>@Model.Invoice.ContactsPhone</td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <strong>&nbsp;Email&nbsp;</strong>:&nbsp;
                        </td>
                        <td>@Model.Invoice.ContactsEmail</td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <strong>&nbsp;Address&nbsp;</strong>:&nbsp;
                        </td>
                        <td valign="top">@Model.Invoice.ContactsAddress</td>
                    </tr>
                    @if (!Model.Invoice.ContactPersonName.IsNullOrEmpty())
                    {
                        <tr>
                            <td valign="top">
                                <strong>&nbsp;Person&nbsp;</strong>:&nbsp;
                            </td>
                            <td valign="top">@Model.Invoice.ContactPersonName @(Model.Invoice.ContactPersonPhone.IsNullOrEmpty() ? "" : "(" + Model.Invoice.ContactPersonPhone + ")")</td>
                        </tr>
                    }
                    @if (!Model.Invoice.ContactsGstin.IsNullOrEmpty())
                    {
                        <tr>
                            <td valign="top">
                                <strong>&nbsp;GSTIN&nbsp;</strong>:&nbsp;
                            </td>
                            <td valign="top">@Model.Invoice.ContactsGstin</td>
                        </tr>
                    }
                    @if (!Model.Invoice.ContactsPanNo.IsNullOrEmpty())
                    {
                        <tr>
                            <td valign="top">
                                <strong>&nbsp;PAN No&nbsp;</strong>:&nbsp;
                            </td>
                            <td valign="top">@Model.Invoice.ContactsPanNo</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>

        @*Subject*@
        @if (Model.Invoice.Subject != null)
        {
            <tr>
                <td>
                    <strong>Subject&nbsp;</strong>:&nbsp;@Model.Invoice.Subject
                </td>
            </tr>
        }
        @*Reference*@
        @if (Model.Invoice.Reference != null)
        {
            <tr>
                <td>
                    <strong>Reference&nbsp;</strong>:&nbsp;@Model.Invoice.Reference
                </td>
            </tr>
        }

        @if (Model.Invoice.Message != null)
        {
            <tr>
                <td>
                    @Model.Invoice.Message
                </td>
            </tr>
        }

        @* Products *@
        <tr>
            <td align="center" class="bg-gray-light">
                &nbsp;
            </td>
        </tr>
    </table>

    @{
        bool stateChanged = Model.Invoice.ContactsStateId != Model.Company.StateId;
        bool hasHSN = Model.InvoiceProducts.Where(x => x.ProductsHsn.IsNullOrEmpty() != true).Count() > 0;
        bool hasImage = (Model.Company.InvoiceTemplate != null) && (Model.Company.InvoiceTemplate == AdvanceCRM.Masters.PrintTemplates.Template2);

        double discountTot = (Model.InvoiceProducts.Sum(x => x.Discount ?? 0));
        double discountAmtTot = (Model.InvoiceProducts.Sum(x => x.DiscountAmount ?? 0));
        bool hasDiscount = ((discountTot > 0) || (discountAmtTot > 0));
        string currencyUnit = (Model.taxable == true ? "" : Model.Invoice.ToCurrency.GetEnumDescription(Localizer));
        bool taxColumns = Model.taxable && (Model.Company.InvoiceTaxColumnIncluded ?? false);
        bool discountedPrice = hasDiscount ? (Model.Company.InvoiceDiscountedPriceIncluded ?? false) : false;
        int totalColumns = 6;
        totalColumns += (hasDiscount ? (discountedPrice ? 2 : 1) : 0);
        totalColumns += (hasHSN ? 1 : 0);
        totalColumns += (hasImage ? 1 : 0);
        totalColumns += (taxColumns ? (stateChanged ? 1 : 2) : 0);
    }

    <table cellpadding="100" cellspacing="100" style="width:100%" id="datatable">
        <tr class="bg-gray">
            <th align="center"><strong>&nbsp;Sr. No.&nbsp;</strong></th>
            @if (hasImage)
            {
                <th align="center"><strong>&nbsp;Image&nbsp;</strong></th>
            }
            @if (hasHSN)
            {
                <th align="center"><strong>&nbsp;HSN&nbsp;</strong></th>
            }
            <th align="center"><strong>&nbsp;Product / Service&nbsp;</strong></th>
            <th align="center"><strong>&nbsp;Rate&nbsp;</strong></th>
            @if (hasDiscount)
            {
                <th align="center"><strong>&nbsp;Discount&nbsp;</strong></th>
                if (discountedPrice)
                {
                    <th align="center"><strong>&nbsp;Price&nbsp;(Disc)&nbsp;</strong></th>
                }
            }
            <th align="center"><strong>&nbsp;Qty&nbsp;</strong></th>
            @if (taxColumns)
            {
                if (stateChanged)
                {
                    <th align="center"><strong>&nbsp;Tax&nbsp;</strong></th>
                }
                else
                {
                    <th align="center"><strong>&nbsp;Tax1&nbsp;</strong></th>
                    <th align="center"><strong>&nbsp;Tax2&nbsp;</strong></th>
                }
            }
            <th align="center"><strong>Total</strong></th>
            <th align="center"><strong>Grand Total</strong></th>
        </tr>
        @{ int srno = 1;}
        @foreach (var qp in Model.InvoiceProducts)
        {
            <tr>
                <td align="center">@srno</td>
                @if (hasImage)
                {
                    <td align="center">
                        @if (!qp.ProductsImage.IsNullOrEmpty())
                        {
                            int imageSize = 1440 / totalColumns;
                            <img width="@imageSize px" src="~/upload/@qp.ProductsImage" />
                        }
                    </td>
                }
                @if (hasHSN)
                {
                    <td align="Left">&nbsp;@qp.ProductsHsn</td>
                }
                <td align="left">
                    &nbsp;@qp.ProductsName<br />
                    <span style="white-space: pre-line; font-size:smaller"><i>@qp.Description</i></span>
                    @if (qp.ProductsTechSpecs.IsNullOrEmpty() == false)
                    {
                        <span style="white-space: pre-line; font-size:smaller">
                            <b>Tech Specs: </b><i>@qp.ProductsTechSpecs</i>
                        </span>
                    }
                    @* Show travel details when From, To, and Date are filled *@
                    @if (!string.IsNullOrEmpty(qp.From) && !string.IsNullOrEmpty(qp.To) && qp.Date != null)
                    {
                        <div style="white-space: pre-line; font-size:smaller">
                            <b>Travel:</b> <i>@qp.From to @qp.To on @qp.Date</i>
                        </div>
                    }

                    @* Show hotel details when Destination is filled *@
                    @if (!string.IsNullOrEmpty(qp.Destination))
                    {
                        <div style="white-space: pre-line; font-size:smaller">
                            <b>Hotels:</b>
                            <i>Destination: @qp.Destination</i>
                            <i>Hotel: @qp.HotelName</i>
                            <i>Nights: @qp.Nights</i>
                            <i>Adults: @qp.Adults</i>
                            <i>Childrens: @qp.Childrens</i>
                            <i>MealPlan: @qp.MealPlan</i>
                        </div>
                    }
                    @if (qp.ProductsCode.IsNullOrEmpty() == false)
                    {
                        <span style="white-space: pre-line; font-size:smaller">
                            <b>Code: </b><i>@qp.ProductsCode</i>
                        </span>
                    }
                    @if (qp.WarrantyStart.HasValue && qp.WarrantyEnd.HasValue)
                    {
                        <span style="white-space: pre-line; font-size:smaller">
                            <i>@qp.WarrantyStart?.ToShortDateString() To  @qp.WarrantyEnd?.ToShortDateString()</i>
                        </span>
                    }
                </td>
                <td align="right">&nbsp;@qp.Price?.ToString("#,##0.00")&nbsp;</td>
                @if (hasDiscount)
                {
                    <td align="center">
                        @if ((qp.Discount ?? 0) > 0)
                        {
                            <text>@qp.Discount%&nbsp;</text>
                            if ((qp.DiscountAmount ?? 0) > 0)
                            {
                                <text>&amp; Amt: @qp.DiscountAmount&nbsp;</text>@currencyUnit
                            }
                        }
                        else
                        {
                            if ((qp.DiscountAmount ?? 0) > 0)
                            {
                                <text>Amt: @qp.DiscountAmount&nbsp;</text>@currencyUnit
                            }
                            else
                            {
                                <text>0%</text>
                            }
                        }
                    </td>
                    if (discountedPrice)
                    {
                        <td align="center">&nbsp;@qp.DiscPrice?.ToString("#,##0.00")&nbsp;</td>
                    }
                }
                <td align="center">@qp.Quantity @qp.Unit&nbsp;</td>

                @if (taxColumns)
                {
                    if (stateChanged == true)
                    {
                        decimal totTA = (qp.Tax1Amount ?? 0) + (qp.Tax2Amount ?? 0);
                        <td align="center">
                            @if (totTA > 0)
                            {
                                <text>
                                    IGST: (@(qp.Percentage1 + qp.Percentage2)%)
                                    <br />Amount: @totTA.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;
                                </text>
                            }
                            else
                            {
                                <text>&nbsp; 0</text>
                            }
                        </td>
                    }
                    else
                    {
                        if (qp.Tax1Amount.HasValue())
                        {
                            <td align="center">@qp.TaxType1 (@qp.Percentage1%) <br />&nbsp;Amount: @qp.Tax1Amount?.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;</td>
                        }
                        if (qp.Tax2Amount.HasValue())
                        {
                            <td align="center">@qp.TaxType2 (@qp.Percentage2%) <br />&nbsp;Amount: @qp.Tax2Amount?.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;</td>
                        }
                    }

                }
                <td align="right">@qp.LineTotal?.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;</td>
                <td align="right">@qp.GrandTotal?.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;</td>

                @{ srno++;}
            </tr>
        }

        @{
            int diff;

            if (Model.Invoice.Lines != null)
            {
                diff = (int)Model.Invoice.Lines - srno;
            }
            else
            {
                diff = 10 - srno;
            }
        }

        @for (int i = diff; i > 0; i--)
        {
            <tr>
                @for (int j = 0; j < totalColumns; ++j)
                {
                    <td>&nbsp;</td>
                }
            </tr>
        }

        <tr>
            <td colspan="@totalColumns" align="center" class="bg-gray" style="text-decoration-color:antiquewhite">
                &nbsp;
            </td>

        </tr>

        @* Total *@
        <tr>
            @if (Model.Invoice.CurrencyConversion == true && Model.Invoice.Conversion != null)
            {
                decimal gtt = Convert.ToDecimal(Model.Invoice.Total ?? 0) * Convert.ToDecimal(Model.Invoice.Conversion ?? 1);
                <td colspan="@(totalColumns - 1)" align="right"><strong> Total:&nbsp;</strong></td>
                <td align="right"><strong>@gtt.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;</strong></td>

            }
            else
            {
                if (Model.Invoice.DispatchDetails != null)
                {
                    <td colspan="@(totalColumns - 3)" align="left">
                        <text>
                            &nbsp;
                            <strong> Dispatch Details: </strong> @Model.Invoice.DispatchDetails
                        </text>
                    </td>
                    <td colspan="2" align="right"><strong> Total:&nbsp;</strong></td>
                }
                else
                {
                    <td colspan="@(totalColumns - 1)" align="right"><strong> Total:&nbsp;</strong></td>
                }
                <td align="right"><strong>@(((decimal)(Model.Invoice.Total ?? 0)).ToString("#,##0.00"))&nbsp;@currencyUnit&nbsp;</strong></td>
            }
        </tr>

        @* TaxAmount *@
        @if (Model.taxable == true)
        {
            if (stateChanged == false)
            {
                @* Tax1Amount *@
                foreach (var item in Model.InvoiceProducts.Select(x => x.TaxType1).Distinct())
                {
                    if ((!item.IsEmptyOrNull()))
                    {
                        <tr>
                            <td colspan="@(totalColumns - 1)" align="right"><strong>@item :&nbsp;</strong></td>
                            <td align="right"><strong>@(Model.InvoiceProducts.Where(y => y.TaxType1 == item).Sum(x => x.Tax1Amount ?? 0).ToString("#,##0.00"))&nbsp;@currencyUnit &nbsp;</strong></td>
                        </tr>
                    }
                }
                @* Tax2Amount *@
                foreach (var item in Model.InvoiceProducts.Select(x => x.TaxType2).Distinct())
                {
                    if ((!item.IsEmptyOrNull()))
                    {
                        <tr>
                            <td colspan="@(totalColumns - 1)" align="right"><strong>@item :&nbsp;</strong></td>
                            <td align="right"><strong>@(Model.InvoiceProducts.Where(y => y.TaxType2 == item).Sum(x => x.Tax2Amount ?? 0).ToString("#,##0.00"))&nbsp;@currencyUnit &nbsp;</strong></td>
                        </tr>
                    }
                }
            }

            @* Total Tax*@
            <tr>
                <td colspan="@(totalColumns - 1)" align="right"><strong> Total Tax @(stateChanged ? "(IGST)" : ""):&nbsp;</strong></td>
                @{ decimal totax = (decimal)((Model.Invoice.Tax1 ?? 0) + (Model.Invoice.Tax2 ?? 0));}
                <td align="right"><strong>@(totax.ToString("#,##0.00"))&nbsp;@currencyUnit&nbsp;</strong></td>
            </tr>
        }

        @* Packaging Charges *@
        @if (Model.Invoice.PackagingCharges != null && Model.Invoice.PackagingCharges != 0)
        {
            <tr>
                <td colspan="@(totalColumns - 1)" align="right"><strong> Packaging Charges:&nbsp;</strong></td>
                <td align="right"><strong>@Model.Invoice.PackagingCharges?.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;</strong></td>
            </tr>
        }

        @* Freight Charges *@
        @if (Model.Invoice.FreightCharges != null && Model.Invoice.FreightCharges != 0)
        {
            <tr>
                <td colspan="@(totalColumns - 1)" align="right"><strong> Freight Charges:&nbsp;</strong></td>
                <td align="right"><strong>@Model.Invoice.FreightCharges?.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;</strong></td>
            </tr>
        }

        @* Advance *@
        @if (Model.Invoice.Advacne != null && Model.Invoice.Advacne != 0)
        {
            <tr>
                <td colspan="@(totalColumns - 1)" align="right"><strong> Advance:&nbsp;</strong></td>
                <td align="right"><strong>@Model.Invoice.Advacne?.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;</strong></td>
            </tr>
        }

        @* Roundup *@
        @if (Model.Invoice.Roundup != null && Model.Invoice.Roundup != 0)
        {
            <tr>
                <td colspan="@(totalColumns - 1)" align="right"><strong> Roundup:&nbsp;</strong></td>
                <td align="right"><strong>@Model.Invoice.Roundup&nbsp;@currencyUnit&nbsp;</strong></td>
            </tr>
        }

        @{ decimal charges = 0, concessions = 0, percent = 0, gTotal = (decimal)(Model.Invoice.GrandTotal ?? 0);}
        @if (Model.InvoiceCharges != null)
        {
            foreach (var ch in Model.InvoiceCharges)
            {
                charges += (decimal)((ch.ChargesPercentage ?? 0) / 100) * gTotal;
                <tr>
                    <td align="right" colspan="@(totalColumns - 1)"><strong> @ch.ChargesName:&nbsp;</strong></td>
                    <td align="right"><strong>@(((decimal)((ch.ChargesPercentage ?? 0) / 100) * gTotal).ToString("#,##0.00"))&nbsp;@currencyUnit&nbsp;</strong></td>
                </tr>
            }
        }

        @*@if (Model.InvoiceConcession != null)
            {
                foreach (var co in Model.InvoiceConcession)
                {
                    concessions += (decimal)((co.ConcessionPercentage ?? 0) / 100) * gTotal;
                    <tr>
                        <td align="right" colspan="@(totalColumns - 1)"><strong> @co.ConcessionName:&nbsp;</strong></td>
                        <td align="right"><strong>-@(((decimal)((co.ConcessionPercentage ?? 0) / 100) * gTotal).ToString("#,##0.00"))&nbsp;@currencyUnit&nbsp;</strong></td>
                    </tr>
                }
            }*@


        @if (Model.InvoiceConcession != null)
        {
            foreach (var co in Model.InvoiceConcession)
            {
                if ((co.ConcessionPercentage ?? 0) > 0)
                {
                    concessions += (decimal)((co.ConcessionPercentage ?? 0) / 100) * gTotal;
                    <tr>
                        <td align="right" colspan="@(totalColumns - 1)"><strong> @co.ConcessionName:&nbsp;</strong></td>

                        <td align="right"><strong> -@(((decimal)((co.ConcessionPercentage ?? 0) / 100) * gTotal).ToString("#,##0.00")) &nbsp; @currencyUnit &nbsp;</strong></td>

                    </tr>
                }
                else if ((co.ConcessionAmount ?? 0) > 0)
                {
                    // percent = (decimal)(co.ConcessionAmount.Value)
                    percent = ((decimal)(co.ConcessionAmount ?? 0) / gTotal) * 100;
                    concessions += (decimal)(percent / 100) * gTotal;
                    <tr>
                        <td align="right" colspan="@(totalColumns - 1)"><strong> @co.ConcessionName:&nbsp;</strong></td>

                        <td align="right"><strong> -@(((decimal)(percent / 100) * gTotal).ToString("#,##0.00")) &nbsp; @currencyUnit &nbsp;</strong></td>
                    </tr>

                }
            }
        }


        @* Grand Total *@
        <tr>
            @if (Model.Invoice.CurrencyConversion == true && Model.Invoice.Conversion != null)
            {
                <td colspan="@(totalColumns - 3)" align="left">
                    @if (Model.Invoice.DueDate != null)
                    {
                        <text> &nbsp;<strong> Valid Date: </strong> @Model.Invoice.DueDate?.ToShortDateString() </text>
                    }
                </td>
                decimal gt = (gTotal + charges - concessions) * Convert.ToDecimal(Model.Invoice.Conversion ?? 1);
                @*<td colspan="@(totalColumns - 1)" align="right"><strong> Grand Total:&nbsp;</strong></td>
                    <td align="right"><strong>@gt.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;</strong></td>*@
                <td colspan="2" align="right"><strong> Grand Total:&nbsp;</strong></td>
                <td align="right"><strong>@gt.ToString("#,##0.00")&nbsp;@currencyUnit&nbsp;</strong></td>

            }
            else
            {
                <td colspan="@(totalColumns - 3)" align="left">
                    @if (Model.Invoice.DueDate != null)
                    {
                        <text> &nbsp;<strong> Valid Date: </strong> @Model.Invoice.DueDate?.ToShortDateString() </text>
                    }
                </td>
                <td colspan="2" align="right"><strong> Grand Total:&nbsp;</strong></td>
                <td align="right"><strong>@((gTotal + charges - concessions).ToString("#,##0.00"))&nbsp;@currencyUnit&nbsp;</strong></td>
            }
        </tr>

        <tr>
            @if (Model.Invoice.CurrencyConversion == true && Model.Invoice.Conversion != null)
            {
                decimal gt1 = (gTotal + charges - concessions) * Convert.ToDecimal(Model.Invoice.Conversion ?? 1);
                <td colspan="@(totalColumns)" bgcolor="wheat">
                    <strong> &nbsp; Total in Words:</strong>
                    <script>document.write(toWords(@Convert.ToInt32(gt1)))</script>
                    @currencyUnit Only
                </td>
            }
            else
            {
                <td colspan="@(totalColumns)" bgcolor="wheat">
                    <strong> &nbsp; Total in Words:</strong>
                    <script>document.write(toWords(@Convert.ToInt32(gTotal + charges - concessions)))</script>
                    @currencyUnit Only
                </td>
            }
        </tr>
    </table>



    @* Terms *@
    <br />
    @if (Model.InvoiceTerms.Count > 0)
    {
        //<div id="terms">

        <table cellpadding="100" cellspacing="100" style="width:100%" id="datatable">

            <tr class="bg-gray">
                <td style="text-align: center;font-size:16px">
                    <strong>
                        Terms &amp; Condition's
                    </strong>
                </td>
            </tr>

            @{ int Tsrno = 1;}
            @foreach (var qt in Model.InvoiceTerms)
            {

                var terms = qt.Terms.Split('$');
                foreach (var qt1 in terms)
                {
                    String substr1 = " | ";
                    string input = qt1;

                    bool con = input.Contains(substr1);
                    if (con == true)
                    {
                        string[] splitString = qt1.Split('|');
                        string result1 = splitString[0].Trim();
                        string result2 = splitString[1].Trim();


                        <tr>
                            <td class="notice" style="padding:1px 2px 1px 2px"><strong>@Tsrno.@result1 :</strong>&nbsp;@result2<br></td>
                        </tr>


                    }
                    else
                    {
                        <tr>
                            <td class="notice">@Tsrno.&nbsp;@qt1<br></td>
                        </tr>

                    }
                    { Tsrno++; }
                }
            }
        </table>

        //</div>
    }

    @if (Model.Company.InvoiceFooterContent != null)
    {
        @Html.Raw(Model.Company.InvoiceFooterContent);
    }

    <table style="width: 100% " border="0">
        @if (Model.Company.InvoiceFooterImage != null)
        {
            <tr style="border:none !important;">
                <td align="center" style="border:none !important; width:100%"><img src="~/upload/@Model.Company.InvoiceFooterImage" height="@Model.Company.InvoiceFooterHeight" width="@Model.Company.InvoiceFooterWidth" /></td>
            </tr>
        }
    </table>

    @* Products images *@
    @if ((Model.Company.InvoiceTemplate != null && Model.Company.InvoiceTemplate == AdvanceCRM.Masters.PrintTemplates.Template1) && (Model.InvoiceProducts.Where(x => x.ProductsImage.IsNullOrEmpty() != true).Count() > 0))
    {
        List<AdvanceCRM.Sales.InvoiceProductsRow> t_Lst = new List<AdvanceCRM.Sales.InvoiceProductsRow>();
        foreach (var item in Model.InvoiceProducts.Where(x => x.ProductsImage.IsNullOrEmpty() != true))
        {
            t_Lst.Add(item);
        }
        <text>
            <p style="page-break-before: always">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title ion-images"> Products Images</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-striped" style="border:groove">
                            <tr style="border:groove">
                                <th style="width: 10%">Product</th>
                                <th style="width: 40%">Image</th>
                                <th style="width: 10%">Product</th>
                                <th style="width: 40%">Image</th>
                            </tr>
                            @for (int i = 0; i < t_Lst.Count - 1; i++)
                            {
                                if (i > 0)
                                {
                                    i++;
                                }

                                <text>
                                    <tr style="border:groove">
                                        <td style="text-align:right"><span class="badge bg-blue">@t_Lst.ElementAt(i).ProductsName</span></td>
                                        <td style="text-align:center"><img src="~/upload/@t_Lst.ElementAt(i).ProductsImage" /></td>
                                        @if (i < t_Lst.Count - 1)
                                        {
                                            <td style="text-align:right"><span class="badge bg-blue">@t_Lst.ElementAt(i + 1).ProductsName</span></td>
                                            <td style="text-align:center"><img src="~/upload/@t_Lst.ElementAt(i+1).ProductsImage" /></td>
                                        }
                                    </tr>
                                </text>
                            }
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
        </text>
    }
</body>
