@model AdvanceCRM.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Reset your @Texts.Site.Layout.WhiteLabel CRM password</title>
</head>
<body>
    <p>Dear @Model.DisplayName,</p>

    <p>We received a request to change your password on @Texts.Site.Layout.WhiteLabel CRM</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>
    <br />
    <p>If you don't want to change your password, you can ignore this email.</p>

    <br /><br />
    Thanks,<br />
    Team @Texts.Site.Layout.WhiteLabel CRM
</body>
</html>