@model AdvanceCRM.Reports.UserDetailReportModel


<strong>User Detailed Report </strong>
    &nbsp;&nbsp; - &nbsp;&nbsp; <strong>From:</strong> @Model.Request.DateFrom.ToDateFormat() To: @Model.Request.DateTo.ToDateFormat()

    <head>

        @*<script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
            <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>*@
        <script src="~/Scripts/RepChart/anychart-core.min.js"></script>
        <script src="~/Scripts/RepChart/anychart-pie.min.js"></script>
    </head>
    <body>
        <div style="width:100%;display: flex; flex-direction: row; justify-content: center;" >
            <div id="container1" style="width: 50%; height: 350px"></div>
            <div id="container" style="width: 50%; height: 350px"></div>
        </div>

        <script>
            anychart.onDocumentReady(function () {
                // set the data
                var data = [

                    { x: "Total Quotation", value:  @Model.All.Count, data: 10 },
                    { x: "Open Quotation", value:  @Model.Open.Count },
                    { x: "Close Quotation", value:  @Model.Closed.Count },
                    { x: "Won Quotation", value:  @Model.Won.Count },
                    { x: "Lost Quotation", value:  @Model.Lost.Count }
                ];

                // create the chart
                var chart = anychart.pie();

                // set the chart title
                chart.title("Quotation Report");

                // add the data
                chart.data(data);

                // display the chart in the container
                chart.container('container');
                chart.draw();


                  var data1 = [

                    { x: "Total Enquiries", value:  @Model.EAll.Count },
                    { x: "Open Enquiries", value:  @Model.EOpen.Count },
                     { x: "Close Enquiries", value:  @Model.EClosed.Count },
                      { x: "Won Enquiries", value:  @Model.EWon.Count },
                       { x: "Lost Enquiries", value:  @Model.ELost.Count }
                ];

                // create the chart
                var chart1 = anychart.pie();

                // set the chart title
                chart1.title("Enquiry Report");

                // add the data
                chart1.data(data1);

                // display the chart in the container
                chart1.container('container1');
                chart1.draw();

            });
        </script>
    </body>


    <table style="width:100%;height:50%; border:groove" , border="1">
        <tr>
            <th rowspan="2" style=" text-align: center">Sr. No.</th>
            <th rowspan="2" style=" text-align: center">Employee</th>

            ///Enquiry
            <th rowspan="2" style=" text-align: center">Total</th>
            <th colspan="2" style=" text-align: center">Enquiry Status</th>
            <th colspan="2" style=" text-align: center">Closing Type</th>
            <th rowspan="2" style=" text-align: center">Conversion</th>

            ///Quotation
            <th rowspan="2" style=" text-align: center">Total</th>
            <th colspan="2" style=" text-align: center">Quotation Status</th>
            <th colspan="3" style=" text-align: center">Quotation Type</th>
            <th colspan="2" style=" text-align: center">Closing Type</th>
            <th rowspan="2" style=" text-align: center">Conversion</th>

        </tr>
        <tr>

            //Enq
            <th style="text-align:center">Open</th>
            <th style="text-align:center">Close</th>
            <th style="text-align:center">Won</th>
            <th style="text-align:center">Lost</th>

            //quo
            <th style="text-align:center">Open</th>
            <th style="text-align:center">Close</th>
            <th style="text-align:center">Hot</th>
            <th style="text-align:center">Warm</th>
            <th style="text-align:center">Cold</th>
            @*<th style="text-align:center">Unassigned</th>*@
            <th style="text-align:center">Won</th>
            <th style="text-align:center">Lost</th>
            @*<th style="text-align:center">Revised/Unassigned</th>*@



        </tr>

        @{ int cnt = 1;}
        @foreach (var item in Model.Alluser.Select(x => x.DisplayName).Distinct())
        {
            decimal EnqCt = Model.All.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count();
            decimal EnqWon = Model.Won.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count();
            decimal Enqcon;
            if (EnqCt != 0 && EnqWon != 0)
            {
                Enqcon = Convert.ToDecimal(((EnqWon / EnqCt) * 100).ToString("0.00"));
            }
            else { Enqcon = 0; }
    <tr>

        <td style="text-align: center " rowspan="2">@cnt</td>
        <td style="text-align: center " rowspan="2">@Html.DisplayFor(x => item)</td>

        <td style="text-align: center ">@Model.EAll.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center ">@Model.EOpen.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center ">@Model.EClosed.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center ">@Model.EWon.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center ">@Model.ELost.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center " rowspan="2">@Enqcon %</td>


        <td style="text-align: center ">@Model.All.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center ">@Model.Open.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center ">@Model.Closed.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center ">@Model.Hot.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center ">@Model.Warm.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center ">@Model.Cold.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        @*<td style="text-align: center ">@Model.Typeunassigned.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>*@


        <td style="text-align: center ">@Model.Won.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        <td style="text-align: center ">@Model.Lost.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>
        @*<td style="text-align: center ">@Model.closeunassigned.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Count()</td>*@
        <td style="text-align: center " rowspan="2">@Enqcon %</td>
    </tr>
    <tr>


        <td style="text-align: center "> @Model.EAll.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.EOpen.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.EClosed.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total) </td>
        <td style="text-align: center "> @Model.EWon.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.ELost.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>



        <td style="text-align: center "> @Model.All.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.Open.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.Closed.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total) </td>

        <td style="text-align: center ">@Model.Hot.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>
        <td style="text-align: center ">@Model.Warm.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>
        <td style="text-align: center ">@Model.Cold.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>
        @*<td style="text-align: center ">@Model.Typeunassigned.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>*@


        <td style="text-align: center "> @Model.Won.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.Lost.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>
        @*<td style="text-align: center ">@Model.closeunassigned.Where(y => y.AssignedDisplayName == Html.DisplayFor(x => item).ToString()).Sum(y => y.Total)</td>*@


    </tr>
            cnt = cnt + 1;
        }

        @{ decimal tEnqCt = Model.All.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count();
            decimal tEnqWon = Model.Won.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count();
            decimal tEnqcon;
            if (tEnqCt != 0 && tEnqWon != 0)
            {
                tEnqcon = Convert.ToDecimal(((tEnqWon / tEnqCt) * 100).ToString("0.00"));
            }
            else { tEnqcon = 0; }
        }
    <tr>
        <td style="text-align: center; width: 1%;" rowspan="2">
        </td>
        <td style="width: 9%; text-align: center; " rowspan="2">
            <strong>Total</strong>
        </td>

        //Enq

        <td style="width: 9%; text-align: center">
            <strong> @Model.EAll.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center">
            <strong> @Model.EOpen.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center">
            <strong> @Model.EClosed.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center">
            <strong> @Model.EWon.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center">
            <strong> @Model.ELost.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center" rowspan="2">
            <strong>@tEnqcon %</strong>
        </td>

        //Quo

        <td style="width: 9%; text-align: center">
            <strong> @Model.All.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center">
            <strong> @Model.Open.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center">
            <strong> @Model.Closed.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center">
            <strong> @Model.Hot.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center">
            <strong> @Model.Warm.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center">
            <strong> @Model.Cold.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>

        <td style="width: 9%; text-align: center">
            <strong> @Model.Won.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center">
            <strong> @Model.Lost.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Count()  </strong>
        </td>
        <td style="width: 9%; text-align: center" rowspan="2">
            <strong>@tEnqcon %</strong>
        </td>
    </tr>
    <tr>
        //Enq
        <td style="text-align: center "> @Model.EAll.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.EOpen.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.EClosed.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.EWon.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.ELost.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>

        //Quo

        <td style="text-align: center "> @Model.All.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.Open.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.Closed.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.Hot.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.Warm.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.Cold.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>

        <td style="text-align: center "> @Model.Won.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
        <td style="text-align: center "> @Model.Lost.Where(y => y.Date >= Model.Request.DateFrom && y.Date <= Model.Request.DateTo && y.AssignedIsActive == 1).Sum(y => y.Total)</td>
    </tr>
        @*cnt = cnt + 1;
            }*@
    </table>

    <br />

    <p>Formula Of Conversion Rate : (Total No.Enquiry Won/Total No.Of Enquiry)*100</p>

